<h1 class="bg-white border-gray-200 font-bold text-center text-4xl">
  Cauchy
</h1>

<br/>

<p class="text-center italic">En cours de construction.</p>

<br/>

<div class="object-center">
  <img class="mx-auto w-[600px]" src={static_path(@conn, "/images/ducreux.jpg")}>
</div>

<div class="grid h-48 place-items-center">
  <div id="messages"></div>
</div>
