<div class="grid grid-cols-1 gap-16 place-items-center font-semibold text-xl">
  <div>
    <a href="/taxi">New York City Taxi Data</a>
  </div>
</div>

<script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
